body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}
h1 {
  display: inline-block;
}
hr{
  border-color: #727084 !important;
}
a {
  color: white !important;
  text-decoration: none !important;
}
#news_blocks{
}
#news_icon{
  font-size: 40px;
  color: #ff2525;
  vertical-align: middle;
  padding-bottom:10px;
  display: inline-block;
}

#news_block{
  padding: 25px;
  font-size: 15px;
  font-size: 1vw;
  border-radius: 5px;
  display: inline-block;
  margin: 1px;
  background-color: #727084;
  color: white;
  font-weight: bolder;
}

#news_favicon_gen {
  position: relative;
  top: -25px;
  left: -20px;
}

#articles_blocks{
  position:fixed;
  top: 20px;
  max-height: 500px;
}

.article_block{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  background-color: #9a2828;
  margin: 1px;
  color: white;
  border: solid;
  border-color: #ff5c5c;
  border-width: 2px;
  border-radius: 5px;
}

.article_description {
  display: none;
  color: white;
}

.images {
  border:solid;
  border-color: black;
  border-width: 1px !important;
  display: none;
}


/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff2525;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
